html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Custom */

body{
	font-family: Georgia, Tahoma, serif;
	padding-bottom:33px;
}

.trans{
	transition: all 0.33s ease;
}


#buffalopano{
  background: url("img/Buffalo_Panorama_1911.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	min-height: 100%;
	min-width: 100%;
	position: fixed;
	bottom: 0px;
	opacity:.1;


}

section{
position: relative;
width:60%;
margin:0px auto 40px;
z-index:10;
}


h1{
	font-size: 54px;
	font-weight: 700;
	margin:0px 0px 33px 0px;
	color:#555;
}

h2{
	font-size: 34px;
	font-weight: 700;
	margin:0px 0px 20px 0px;
	color:#555;
}

a{
	color:#bada55;
}

a:hover{
	opacity:.7;
}

p{
	color:#555;
	font-size:18px;
	line-height: 24px;
}

section .title span{
	color:#3D9494;
}

section a.blockLink{
	float: left;
display: block;
width: 60px;
color: #BADA55;
padding: 30px 10px;
border: 3px solid #BADA55;
border-radius: 2px;
margin: 30px 7px;
font-size: 16px;
font-weight: bold;
background:#fff;
text-decoration: none;

}

section a.blockLink:hover{
background:	#bada55;
color:#fff;
}


.textCenter{
	text-align:center;
}

.circle{
	left: 50%;
	margin-top: 20px;
	margin-left: -215px;
	width: 300px;
	height: 300px;
	border: 13px solid rgba(61, 148, 148, 0.5);
	background: rgba(255, 255, 255, 0.69);
	text-align: center;
	padding: 50px 50px;
	border-radius: 50%;
}

.title{
	font-size: 26px;
	font-weight: 700;
	color:#555;
	line-height:34px;

}

.whiteBlock{
background:rgba(255, 255, 255, 0.8);
padding:20px 30px 20px;

}

.projectLink{
	width:100%;
	display:block;
	font-size:20px;
	margin:0px 0px 20px;
	font-weight:bold;
}

.footer{
	padding:20px 0px;
	z-index:10;
	opacity:.4;
}

.footer a{
	color:#555;
}
